:root{
    --second-color:#343435;
}
.section1{
    background-image: url(img/home.jpg);
    background-size: 100%;
    background-position: center;
    height: 100vh;
    
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
}
.bg-gray{
    background-color: var(--second-color);
}